Repository jasonbcodd/fastapi-injectable: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

.pre-commit-config.yaml:

default_language_version:
  python: python3.13

repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format

  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

docs: enhance documentation structure and readability (#29)
  README.md
  docs/advanced-scenarios.md
  docs/conf.py
  docs/index.md
  docs/info.md
  docs/real-world-examples.md
  docs/usage.md
  static/image/logo.png
Due: none

bump: from 0.1.1 to 0.2.0 (#30)
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  pyproject.toml
Due: check-toml, check-yaml

fix(ci): add secret token to checkout step (#31)
  .github/workflows/release.yml
Due: check-yaml

feat(ci): add manual trigger support for release workflow (#32)
  .github/workflows/release.yml
Due: check-yaml

fix: shouldn't compare boolean with string (#33)
  .github/workflows/release.yml
Due: check-yaml

fix(ci): give sufficient permission to github action to create and push tag (#34)
  .github/workflows/release.yml
Due: check-yaml

chore(README): update logo url (#35)
  README.md
Due: none

docs: add FAQ (#36)
  README.md
  docs/faq.md
  docs/index.md
Due: none

chore: update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

chore(dev): update pre commit config and fix md by it (#37)
  .github/ISSUE_TEMPLATE/bug_report.md
  .pre-commit-config.yaml
  README.md
Due: check-yaml

docs: correct readme faq toc (#38)
  README.md
Due: none

feat: add args/kwargs support to get_injected_obj and improve type hints (#45)
  pyproject.toml
  src/fastapi_injectable/decorator.py
  src/fastapi_injectable/util.py
  src/py.typed
  test/test_integration.py
  test/test_util.py
Due: check-toml

bump: from 0.2.0 to 0.3.0 (#46)
  pyproject.toml
Due: check-toml

feat: allow registration to get real app from request when resolving depedencies (#48)
  README.md
  src/fastapi_injectable/main.py
  test/test_main.py
Due: none

refactor(concurrency): implement dedicated event loop manager for coroutine execution (#49)
  src/fastapi_injectable/async_exit_stack.py
  src/fastapi_injectable/concurrency.py
  src/fastapi_injectable/exception.py
  src/fastapi_injectable/main.py
  src/fastapi_injectable/util.py
  test/test_async_exit_stack.py
  test/test_concurrency.py
  test/test_manager.py
Due: none

bump: from 0.3.0 to 0.4.0 (#50)
  pyproject.toml
Due: check-toml

chore: make register_app public (#51)
  src/fastapi_injectable/__init__.py
Due: none

bump: from 0.4.0 to 0.4.1 (#52)
  pyproject.toml
Due: check-toml

docs: remove FAQ redundant toc (#58)
  README.md
Due: none

Pass app dependency overrides
  src/fastapi_injectable/main.py
Due: none

Create py.typed
  src/fastapi_injectable/py.typed
Due: none

Delete src/fastapi_injectable/py.typed
  src/fastapi_injectable/py.typed
Due: none

Update pyproject.toml
  pyproject.toml
Due: check-toml
